body {
    padding-top: 70px;
}

.repo-panel .panel-body {
    min-height: 150px;
}

.search-input {
    margin-top: 28px;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
