
<div class="row header">
    <div class="col-xs-9">
        <h1>Repositories</h1>
    </div>
    <div class="col-xs-3">
        <input class="form-control search-input" type="text" placeholder="Search repos..." />
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default repo-panel">
            <div class="panel-heading">
                <span class="octicon octicon-repo"></span>
                <a href="">Link here</a>
            </div>
            <div class="panel-body">
                Description here
            </div>
        </div>
    </div>
</div>
