
<div class="row header">
    <div class="col-xs-9">
        <h1>Repositories</h1>
    </div>
    <div class="col-xs-3">
        <input class="form-control search-input" type="text" placeholder="Search repos..." ng-model="repoListCtrl.query" />
    </div>
</div>

<div class="row">
    <div class="col-xs-3" ng-repeat="repo in repoListCtrl.list | filter: repoListCtrl.query">
        <div class="panel panel-default repo-panel">
            <div class="panel-heading">
                <span class="octicon octicon-repo"></span>
                <a href="" ui-sref="repositories.view({ id: repo.id })">{{ repo.name | limitTo: 30 }}</a>
            </div>
            <div class="panel-body">
                {{ repo.description | limitTo: 150 }}
            </div>
        </div>
    </div>
</div>
